{% extends "base.html" %}

{% load bootstrap_tags %}

{% block page_title %} Product {% endblock %}

{% block page_heading %} {{ articles.title }} {% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <h2 class="article-title">{{ articles.title }}</h2>
            <p class="article-created">{{ articles.created_at }}</p>
            <p class="article-description">{{ articles.description }}</p>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% for comment in comments %}
                    <div class="comment-container">
                        <p class="comment-author">By {{ comment.author }} | {{ comment.created_date }}</p>
                        <p class="comment-content">{{ comment.comment }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container">
        {% if user.is_authenticated %}
            <div class="row">
                <div class="col-sm-12">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-12 comment">
                                {{ comment_form | as_bootstrap_inline }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 comment-button">
                                <button type="submit" class="btn btn-success">Comment</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}