{% extends "base.html" %}

{% load bootstrap_tags %}

{% block page_title %} Blog {% endblock %}

{% block content %}

    <!-- Blog articles -->
    {% for blog_element in blog_elements %}

            <div class="row">
                <div class="col-sm-12">
                    <a href="{% url "articles:detail" slug=blog_element.slug %}">
                        <p class="article-title">{{ blog_element.title }}</p>
                    </a>
                    <p class="article-created">Created at: {{ blog_element.created_at }}</p>
                    <p class="article-description product-container">{{ blog_element.snippet }}</p>
                </div>
            </div>

    {% endfor %}

{% endblock %}