{% extends "base.html" %}

{% block page_title %} Home page {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a href="{% url 'products' %}">
                    <div class="text-center welcome">
                        <h2 class="text-center">Let's learn with us!</h2>
                    </div>
                </a>
            </div>
            <div class="col-sm-12">
                <div class="text-center">
                    <h3>Here is a video about why you should learn about IT technology, especially in Dublin</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/gmjBNevETcM" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}