# Ignore Intellij IDEA files
.idea

# Ignore local Database
*.sqlite3

# Ignore Environmental variable, secret key and Stripe keys
env.py

# Python cache files
__pycache__/

# Coverage file from test
.coverage
/htmlcov

# Media
media
media/images