{% extends 'base.html' %}

{% block page_title %} Products {% endblock %}

<!-- Products content -->

{% block content %}

    {% if is_empty is False %}

        <h1 class="text-center">Hop cicc Móric!</h1>

    {% elif is_empty is True %}
        <div class="row text-center">
            <button id="show-all" class="btn btn-light filter">All</button>
            <button id="show-frontend" class="btn btn-success filter">Front-End</button>
            <button id="show-middleware" class="btn btn-info filter">Middleware</button>
            <button id="show-backend" class="btn btn-danger filter">Back-End</button>
            <button id="show-framework" class="btn btn-warning filter">Framework</button>
        </div>
    {% endif %}

    <div class="row">
        {% for product in products %}
            <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 panel-default {{ product.type_id }}">
                <div class="panel-body">
                    <div class="product"
                         style="background-image: url('{{ MEDIA_URL }}{{ product.images }}')"></div>
                    <a href="{% url "view_product_detail" slug=product.slug %}">
                        <p class="text-center product-title">{{ product.name }}</p>
                    </a>
                    <p class="product-description text-justify">{{ product.snippet }}</p>
                    <p class="text-center">{{ product.price }} {{ product.currency }}</p>

                    <!-- Add to cart -->

                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input name="quantity" type="number" min="1" max="999" class="form-control"
                                   placeholder="Quantity" aria-label="quantity">
                            <span class="input-group-btn">
                            <button class="btn btn-success" type="submit"><i class="fa fa-plus"></i> Add</button>
                        </span>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        $("#show-all").click(function () {
            $(".frontend").show(1000);
            $(".backend").show(1000);
            $(".middleware").show(1000);
            $(".framework").show(1000);
        });

        $("#show-frontend").click(function () {
            $(".frontend").show(1000);
            $(".backend").hide(1000);
            $(".middleware").hide(1000);
            $(".framework").hide(1000);
        });

        $("#show-backend").click(function () {
            $(".backend").show(1000);
            $(".frontend").hide(1000);
            $(".middleware").hide(1000);
            $(".framework").hide(1000);
        });

        $("#show-middleware").click(function () {
            $(".middleware").show(1000);
            $(".frontend").hide(1000);
            $(".backend").hide(1000);
            $(".framework").hide(1000);
        });

        $("#show-framework").click(function () {
            $(".framework").show(1000);
            $(".frontend").hide(1000);
            $(".backend").hide(1000);
            $(".middleware").hide(1000);
        });
    </script>
{% endblock %}