{% extends 'base.html' %}

<!-- Products content -->

{% block content %}
    <div class="row">
        {% for product in products %}
            <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 panel-default">
                <div class="panel-body">
                    <div class="product"
                         style="background-image: url('{{ MEDIA_URL }}{{ product.images }}')"></div>
                    <a href="{% url "view_product_detail" slug=product.slug %}">
                        <h3 class="text-center">{{ product.name }}</h3>
                    </a>
                    <p class="product-description text-center">{{ product.snippet }}</p>
                    <p class="text-center">{{ product.price }} {{ product.currency }}</p>

                    <!-- Add to cart -->

                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input name="quantity" type="number" min="1" max="999" class="form-control"
                                   placeholder="Quantity" aria-label="quantity">
                            <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}