{% extends "base.html" %}

{% load bootstrap_tags %}

{% block page_title %} {{ product.name }} {% endblock %}

{% block page_heading %} {{ product.name }} {% endblock %}

{% block content %}

    <!-- Product detail section -->

    <div class="container">
        <div class="row">
            <div class="product"
                 style="background-image: url('{{ MEDIA_URL }}{{ product.images }}')"></div>
            <p class="article-title">{{ product.name }}</p>
            <p class="article-description">{{ product.description }}</p>
            <p class="article-created">{{ product.price }} {{ product.currency }}</p>
        </div>
    </div>

    <!-- Review container section -->

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% for review in reviews %}
                    <div class="comment-container">
                        <p class="comment-author">{{ review.author }} | {{ review.created_date }}</p>
                        <p class="comment-content">{{ review.review }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Add review container section -->

    <div class="container">
        {% if user.is_authenticated %}
            <div class="row">
                <div class="col-sm-12">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-12 comment">
                                {{ review_form | as_bootstrap_inline }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 comment-button">
                                <button type="submit" class="btn btn-success">Comment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}