{% extends "base.html" %}

{% load bootstrap_tags %}

{% block page_title %} {{ product.name }} {% endblock %}

{% block page_heading %} {{ product.name }} {% endblock %}

{% block content %}

    <h1>Product detail</h1>

    <div class="container">
        <div class="row">

            <div class="product"
                 style="background-image: url('{{ MEDIA_URL }}{{ product.images }}')"></div>
            <p>{{ product.name }}</p>
            <p>{{ product.description }}</p>
            <p>{{ product.price }} {{ product.currency }}</p>
        </div>
    </div>



    {% for review in reviews %}
        <div class="container" style="margin: 5px; border: #333333 solid 3px">
            <p>{{ review.author }}</p>
            <p>{{ review.created_date }}</p>
            <p>{{ review.review }}</p>

        </div>
    {% endfor %}

    {% if user.is_authenticated %}
        <div class="row">
            <form method="POST">
                {% csrf_token %}
                {{ review_form | as_bootstrap }}
                <button type="submit" class="btn btn-success">Comment</button>
            </form>
        </div>
    {% endif %}


{% endblock %}