body {
    font-family: sans-serif;
    padding-top: 100px;
    background: #fafafa;
    color: black;
}

a:hover, a:visited, a:active, a:link {
    text-decoration: none;
}

.nav-color {
    background: #c67605;
    margin: 0;
    padding: 0;
}

h2, a {
    color: #c67605;
    transition: all 0.5s ease-in-out;
}

#message_container {
    margin: 0 auto;
    width: 35%;
    position: fixed;
    top: 15%;
    left: 50px;
    opacity: 0.7;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #ff9d91;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

/* Product */
.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}

/* Profile */
a:link, a:visited, a:active {
    text-decoration: none;
}

/* Blog and Articles */
.article-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 80%;
    height: 400px;
    margin: 15px auto;
}


.article-title {
    font-size: 36px;
}

.article-created {
    font-size: 20px;
    border-bottom: black solid 3px;
}

.article-description {
    font-size: 20px;
    letter-spacing: 1px;
    text-align: justify;
}

.comment-container {
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;
    border: #333333 solid 2px
}

.comment {
    margin: 3% auto;
    text-align: center;
    width: 100%;
}

.comment-button {
    text-align: right;
}

.comment-author {
    width: 70%;
    font-size: 18px;
    border-bottom: black 2px solid;
}


.comment-content {
    font-size: 20px;
    padding: 10px;
    text-align: justify;
}

/* Media query */

@media only screen and (max-width: 1025px) {
    #message_container {
        top: 5%;
    }
}
