/* General */

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}

body {
    font-family: sans-serif;
    padding-top: 100px;
    background: #666666;
    color: black;
    font-weight: bold;
}

a:hover, a:focus {
    color: #00cc5f;
    text-decoration: underline
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

footer p {
    color: #00cc5f;
    font-size: 22px;
    margin: auto auto;
    padding-top: 3px;
}


/* Navigation */

.search-button {
    padding: 0;
}

.black-background {
    background: #333333;
    border: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #dddddd;
!important;
}

.nav-color {
    background: #c67605;
    margin: 0;
    padding: 0;
}

.navigation-search {
    padding: 10px;
}

.form-control-my {
    height: calc(1.5em + 0.75rem + 2px);
    padding-left: 5px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.icon-bar {
    background-color: #ff9d91;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    margin: 0;
    background-color: #00cc5f;
}

/* Feed */

.feed-header {
    color: #c67605;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    border-bottom: #00cc5f solid 2px;
}

/* Content/Template */

a:hover, a:visited, a:active, a:link {
    text-decoration: none;
}

a, h2 {
    color: #c67605;
    transition: all 0.5s ease-in-out;
    font-weight: bold;
}

#message_container {
    margin: 0 auto;
    width: 35%;
    position: fixed;
    top: 15%;
    left: 50px;
    opacity: 0.7;
}

/* Product */

.product-title {
    font-size: 26px;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
    margin: 15px;
}

.product-description {
    min-height: 40px;
}

.product-price {
    font-size: 44px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: black solid 3px;
}

.product-input {
    text-align: center;
    margin: 15px auto;
}

/* Profile */

a:link, a:visited, a:active {
    text-decoration: none;
}

.profile-container {
    font-size: 20px;
    text-align: center
}

.margin-profile-field {
    margin: 10px;
    padding: 5px;
}

/* Cart */

.padding-zero {
    padding: 0;
}

.amend-button {
    padding: 0;
    background-color: #fafafa;
    border: 0 #fafafa solid
}
p > input{
    text-align: center;
}
/* Checkout */

.display-none {
    display: none;
}

/* User detail */

.user-detail {
    font-size: 20px;
}

/* Blog and Articles */

.article-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 80%;
    height: 400px;
    margin: 15px auto;
}


.article-title {
    font-size: 36px;
    margin-top: 30px;
    border-bottom: #666666 solid 3px;
    transition: all 0.5s ease-in-out;
}

.article-title:hover {
    border-bottom: #c67605 solid 3px;
    transition: all 0.5s ease-in-out;
}

.article-created {
    font-size: 20px;
    border-bottom: black solid 3px;
}

.article-description {
    font-size: 20px;
    letter-spacing: 1px;
    text-align: justify;
}

.comment-container {
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;
    border: #333333 solid 2px
}

.comment {
    margin: 3% auto;
    text-align: justify;
    width: 100%;
}

.comment-button {
    text-align: right;
}

.comment-author {
    width: 70%;
    font-size: 18px;
    border-bottom: black 2px solid;
}


.comment-content {
    font-size: 20px;
    padding: 10px;
    text-align: justify;
}

/* Media query */

@media only screen and (max-width: 1025px) {
    #message_container {
        top: 5%;
    }

    .margin-profile-field {
        margin-left: 0;
        margin-right: 0;
        padding: 5px;
    }

    .navbar-nav > li > a {
        font-size: 11px;
    }
}

@media only screen and (max-width: 769px) {
    .amend-button {
        background: #666666;
        text-align: center;
    }
}



