{% extends "base.html" %}

{% block page_title %} Edit {{ user }}'s Profile {% endblock %}

{% block page_heading %} Edit {{ user }}'s Profile {% endblock %}

{% block content %}

    <!-- Edit user details -->
    <div class="row" style="font-size: 20px">


        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="col-sm-6"></div>
            <div class="col-sm-3 col-xs-3">
                <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Submit</button>
            </div>
        </form>
        <div class="col-sm-3 col-xs-3">
            <a href="{% url 'profile' %}">
                <button class="btn btn-info"><i class="fa fa-arrow-left"></i> Return</button>
            </a>
        </div>
    </div>
{% endblock %}

