{% extends "base.html" %}

{% load bootstrap_tags %}

{% block page_title %} Login Page {% endblock %}

{% block page_heading %} User login {% endblock %}

{% block content %}

    <!-- Login section -->

    <div class="container-fluid">
        <div class="row">
            <form method="POST">
                {% csrf_token %}
                {{ login_form | as_bootstrap }}
                <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Login</button>
            </form>
            <a href="{% url 'password_reset' %}">
                <button class="btn btn-info"><i class="fa fa-unlock-alt"></i> Forget your password?</button>
            </a>
        </div>
    </div>

{% endblock %}
