{% extends "base.html" %}

{% block page_title %} {{ user_form.username }}'s Profile {% endblock %}

{% block content %}

    <!-- Profile details -->
    <div class="profile-container">
        <div class="row margin-profile-field">
            <div class="col-sm-12">
                <p class="text-center">Username: </p>
            </div>
        </div>
        <div class="row margin-profile-field">
            <div class="col-sm-12">
                <input class="text-center" type="text" value="{{ user_form.username }}" disabled aria-label="username">
            </div>
        </div>

        <div class="row margin-profile-field">
            <div class="col-sm-12">
                <p class="text-center">First name: </p>
            </div>
        </div>
        <div class="row margin-profile-field">
            <div class="col-sm-12">
                <input class="text-center" type="text" value="{{ user_form.first_name }}" disabled
                       aria-label="first-name">
            </div>
        </div>

        <div class="row margin-profile-field">
            <div class="col-sm-12">
                <p class="text-center">Last name: </p>
            </div>
        </div>
        <div class="row margin-profile-field">
            <div class="col-sm-12">
                <input class="text-center" type="text" value="{{ user_form.last_name }}" disabled
                       aria-label="last-name">
            </div>
        </div>

        <div class="row margin-profile-field">
            <div class="col-sm-12">
                <p class="text-center">E-mail address: </p>
            </div>
        </div>
        <div class="row margin-profile-field">
            <div class="col-sm-12">
                <input class="text-center" type="text" value="{{ user_form.email }}" disabled aria-label="email">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 margin-profile-field">
                <p class="text-center">Date joined {{ user_form.date_joined }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 margin-profile-field">
                <p class="text-center">Last login: {{ user_form.last_login }}</p>
            </div>
        </div>

        <div class="row margin-profile-field">
            <a href="{% url 'edit_profile' %}">
                <button class="btn btn-info"><i class="fa fa-pencil"></i> Update Details</button>
            </a>
        </div>

        <div class="row margin-profile-field">
            <a href="{% url 'change_password' %}">
                <button class="btn btn-info"><i class="fa fa-pencil"></i> Change Password</button>
                <p>(If you know your original password)</p>
            </a>
        </div>
    </div>

{% endblock %}